t-b-height = 50px
vRowHeight = 64px

.viewport
	height 500px
	padding 0
	background-color #95a5a6
	overflow hidden
	.emission-row
		height 64px
		overflow hidden
		// width 5000px //idk why it has to bel ike this -- 'auto' doesn't work, but this div needs to be large enough to show all of the divs inside of it

.stations-list
	padding 0

.network
	&-block
		padding 0
		&-logo
			height 50px
		&-link
			height 100%
			width 100%

.time-bar
	padding 0
	background-color #3498db
	// overflow hidden
	&-hours-bar
		overflow hidden
		height t-b-height
		padding 0
	.days-bar
		overflow hidden
		height t-b-height
		padding 0

.day-block
	background-color white
	display inline-block
	width 50px
	margin 0 10px

.hour-block
	height 50px
	display inline-block
	border 0 solid black
	border-right-width 1px
	
.move-schedule
	font-size xx-large
	&-container
		display flex
		height t-b-height
		line-height t-b-height
		align-items center
		
.emission-block
	position relative
	padding 0 5px
	display inline-block
	height vRowHeight
	font-size 60%
	background-color #e74c3c
	border-right solid black 1px
	&-content
		color white
		overflow hidden
		text-overflow ellipsis
	&-description
		position absolute
		top 0
		height 64px
		width 250px
		z-index 20
		background-color green
		color white