body {
  background-color: #ecf0f1;
}
.page-header {
  margin-top: 0;
  height: 100px;
  background-color: #1abc9c;
}
.page-header .title {
  position: relative;
  top: 5px;
  left: 5px;
}
.page-header .sub-title {
  position: relative;
  left: 150px;
  top: -30px;
}
.viewport {
  padding: 0;
  background-color: #95a5a6;
  overflow: hidden;
}
.viewport .emission-row {
  height: 64px;
  overflow: hidden;
}
.stations-list {
  padding: 0;
}
.guide-view {
  width: 960px;
  overflow: hidden;
}
.inactive-network {
  background-color: #808080;
}
.network-block {
  position: relative;
  padding: 0;
  height: 64px;
}
.network-block-add {
  display: inline-block;
  margin-right: 5px;
  width: 120px;
  height: 64px;
}
.network-block-logo {
  height: 50px;
}
.network-block-link {
  height: 100%;
  width: 100%;
}
.add-network-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  width: 100%;
}
.active-network {
  background-color: #f00;
}
.inactive-network {
  background-color: #808080;
}
.remove-network {
  position: absolute;
  top: 0;
  right: 0;
}
.time-bar {
  padding: 0;
  background-color: #3498db;
  width: 960px;
}
.time-bar-hours-bar {
  overflow: hidden;
  height: 50px;
  padding: 0;
}
.time-bar .days-bar {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  height: 50px;
  padding: 0;
  padding-right: 10px;
}
.day-block {
  background-color: #fff;
  display: inline-block;
  margin: 0 10px;
}
.hour-block {
  position: relative;
  height: 50px;
  display: inline-block;
  border: 0 solid #000;
  border-right-width: 1px;
}
.hour-block-half-hour {
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 20px;
  border-right: 1px solid #000;
}
.move-schedule {
  font-size: xx-large;
}
.move-schedule-container {
  display: flex;
  height: 100px;
  background-color: #fff;
  line-height: 100px;
  align-items: center;
}
.emission-block {
  position: relative;
  padding: 0;
  display: inline-block;
  height: 64px;
  font-size: 60%;
  background-color: #e74c3c;
  border-right: solid #000 1px;
}
.emission-block-content {
  margin-left: 5px;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100%;
}
.emission-block-description {
  position: absolute;
  top: 0;
  height: 64px;
  width: 100%;
  min-width: 250px;
  z-index: 20;
  background-color: #008000;
  color: #fff;
}
.emission-block-description * {
  margin-left: 5px;
}
.emission-block-hover-div {
  height: 100%;
  width: 100%;
  z-index: 40;
}
.current-time-marker {
  border-left: 2px solid #fff;
  height: 350px;
  display: inline-block;
  position: absolute;
  z-index: 10;
}
.site-desc {
  margin-top: 50px;
  background-color: #fff;
}
.site-desc-header {
  text-align: center;
  margin-bottom: 20px;
}
hr {
  text-align: center;
  margin-top: 0;
  border: 1px solid #000;
  width: 80%;
}
