t-b-height = 50px
vRowHeight = 64px

body
	background-color #ecf0f1

.page-header
	margin-top 0
	height 100px
	background-color #1abc9c
	.title
		position relative
		top 5px
		left 5px
	.sub-title
		position relative
		left 150px
		top -30px

.viewport
	padding 0
	background-color #95a5a6
	overflow hidden
	// minimum-height 1072px
	.emission-row
		height 64px
		overflow hidden

.stations-list
	padding 0

.guide-view
	width 960px
	overflow hidden

.inactive-network
	background-color grey

.network
	&-block
		position relative
		padding 0
		height 64px
		&-add
			display inline-block
			margin-right 5px
			width 120px
			height 64px
		&-logo
			height 50px
		&-link
			height 100%
			width 100%
.add-network-block
	display flex
	justify-content center
	align-items center
	height 64px // Hard coding this bc i'm tired.  I could probably make it more reactive, but whatever
	width 100%
.active-network
	background-color red
.inactive-network
	background-color grey
.remove-network
	position absolute
	top 0
	right 0

.time-bar
	padding 0
	background-color #3498db
	width 960px
	&-hours-bar
		overflow hidden
		height t-b-height
		padding 0
	.days-bar
		display flex
		justify-content space-between
		overflow hidden
		height t-b-height
		padding 0
		padding-right 10px

.day-block
	background-color white
	display inline-block
	margin 0 10px

.hour-block
	position relative
	height 50px
	display inline-block
	border 0 solid black
	border-right-width 1px
	&-half-hour
		position absolute
		display inline-block
		bottom 0
		left 0
		width 60px // I'm hard coding this because it's easier.  If at some point I change the minperpx later adjust this
		height 20px
		border-right 1px solid black
	
.move-schedule
	font-size xx-large
	&-container
		display flex
		height 100px
		background-color white
		line-height 100px
		align-items center
		
.emission-block
	position relative
	padding 0
	display inline-block
	height vRowHeight
	font-size 60%
	background-color #e74c3c
	border-right solid black 1px
	&-content
		margin-left 5px
		color white
		overflow hidden
		text-overflow ellipsis
		height 100%
	&-description
		position absolute
		top 0
		height 64px
		width 100%
		min-width 250px
		z-index 20
		background-color green
		color white
		*
			margin-left 5px
	&-hover-div
		height 100%
		width 100%
		z-index 40

.current-time-marker
	border-left 2px solid white	
	height 350px
	display inline-block
	position absolute
	z-index 10
	
// .tv-guide-container
// 	position relative
// 	left 60px

.site-desc
	margin-top 50px
	background-color white
	&-header
		text-align center
		margin-bottom 20px

hr
	text-align center
	margin-top 0
	border 1px solid black
	width 80%